<!DOCTYPE html>

<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/login.css')}}">

<body>
    <form action="/" method="POST">
        <h1>CRUD APPLICATION !!!</h1>
        
        <h3>Login</h3>

        <div class="error">
            {% if error %}
               {{ error }}
            {% endif %}
       </div> 


        <label>
            Username
        </label>

        <br>

        <input type="text" name="username" required>

        <br><br>

        <label>
            Password
        </label>

        <br>

        <input type="password" name="password" required>

        <br><br>

        <button type="submit">SIGN IN</button>

        <br><br><br>

        Don't have an account? <a href="signup">Sign up</a>

        <br><br><br>
    </form>
</body>

</html>
