<!DOCTYPE html>

<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/user_update.css')}}">

<body>
    <form action="/user/{{username}}/update" method="POST">
        <h1>UPDATE USER!</h1>

        <div class="error">
            {% if error %}
               {{ error }}
            {% endif %}
       </div> 
        

        <label>
            Username
        </label>

        <br>

        <input type="text" name="username" value="{{username}}" required>

        <br><br>


        <label>
            Email
        </label>

        <br>

        <input type="email" name="email" value="{{email}}" required>

        <br><br>


        <label>
            Roll No
        </label>

        <br>

        <input type="text" name="roll_no" value="{{roll_no}}" required>

        <br><br>

        <button type="submit">UPDATE</button>

        <br><br><br>
    </form>
</body>

</html>
