<!DOCTYPE html>

<html>

<link rel="stylesheet" href="{{url_for('static', filename='styles/users_list.css')}}">

<body>

    <h1>Users List</h1>

    <table>
        <thead>
            <th>USERNAME</th>
            <th>EMAIL</th>
            <th>ROLL_NO</th>
            <th>OPTIONS</th>
        </thead>

        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user[0]}}</td>
                    <td>{{user[1]}}</td>
                    <td>{{user[2]}}</td>
                    <td>
                        <a href="/user/{{user[0]}}/update">Update</a>
                        <a href="/user/{{user[0]}}/delete">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>

</html>
